<launch>
  <arg name="INPUT_IMAGE"/>
  <arg name="model_file"
       default="package://jsk_teaching_object/trained_data/20220420-120316-dataset-20-daily-objects.tflite"/>
  <arg name="label_file"
       default="package://jsk_teaching_object/sample/data/daily-objects-labels.txt"/>
  <arg name="gui" default="true" />

  <!-- TPU object detection based on foreground image -->
  <include file="$(find coral_usb)/launch/edgetpu_tile_object_detector.launch">
    <arg name="INPUT_IMAGE" value="$(arg INPUT_IMAGE)" />
    <arg name="IMAGE_TRANSPORT" value="raw" />
    <arg name="model_file" value="$(arg model_file)" />
    <arg name="label_file" value="$(arg label_file)" />
  </include>

  <!-- support Japanese name as class name -->
  <node name="draw_rects_with_classification_result"
        pkg="jsk_perception" type="draw_rects.py"
        output="screen"
        clear_params="true" >
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <remap from="~input/rects" to="/edgetpu_tile_object_detector/output/rects" />
    <remap from="~input/class" to="/edgetpu_tile_object_detector/output/class" />
    <rosparam subst_value="true">
      queue_size: 100
      font_path: $(find jsk_recognition_utils)/font_data/NotoSansJP-Regular.otf
      use_classification_result: true
      label_size: 16
    </rosparam>
  </node>

  <group ns="draw_rects_with_classification_result" >
    <node name="republish"
          pkg="image_transport" type="republish"
          args="raw compressed">
      <remap from="in" to="output" />
      <remap from="out" to="output" />
    </node>
  </group>

  <!-- visualize resutls -->
  <group if="$(arg gui)" >
    <node name="image_view01"
          pkg="image_view" type="image_view">
      <remap from="image" to="draw_rects_with_classification_result/output" />
    </node>
  </group>

</launch>
