<launch>

  <group ns="/r_forearm_cam" >

    <node name="apriltag_detector1"
          pkg="apriltags_ros" type="apriltag_detector_node"
          output="screen" >メイン
      <remap from="image_rect" to="image_rect_color" />
      <remap from="camera_info" to="camera_info" />

      <!-- Optional: Subscribe to the compressed stream-->
      <param name="image_transport" type="str" value="compressed" />

      <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
      <param name="tag_family" type="str" value="36h11" />

      <!-- Enable projected optical measurements for more accurate tag transformations -->
      <!-- This exists for backwards compatability and should be left true for new setups -->
      <param name="projected_optics" type="bool" value="true" />

      <!-- Describe the tags -->
      <rosparam param="tag_descriptions">[
        {id: 0, size: 0.031, frame_id: plug_frame}]
      </rosparam>

      <remap from="tag_detections_pose" to="plug_pose" />
    </node>

    <node name="apriltag_detector2"
          pkg="apriltags_ros" type="apriltag_detector_node"
          output="screen" >メイン
      <remap from="image_rect" to="image_rect_color" />
      <remap from="camera_info" to="camera_info" />

      <!-- Optional: Subscribe to the compressed stream-->
      <param name="image_transport" type="str" value="compressed" />

      <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
      <param name="tag_family" type="str" value="36h11" />

      <!-- Enable projected optical measurements for more accurate tag transformations -->
      <!-- This exists for backwards compatability and should be left true for new setups -->
      <param name="projected_optics" type="bool" value="true" />

      <!-- Describe the tags -->
      <rosparam param="tag_descriptions">[
        {id: 1, size: 0.0396, frame_id: outlet_frame}]
      </rosparam>

      <remap from="tag_detections_pose" to="outlet_pose" />
    </node>

  </group>

</launch>
